{%load static %} {% include 'Admin_s/index.html' %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="card card-primary">
                <h3 class="card-title" bgcolor="green">permission of a given role</h3>


            </div>
            <h4>Role: {{group.name}}</h4>


        </div>
    </div>
    </section>
</div>
<style>
    h4 {
        text-align: center;
    }
    
    .prm {
        width: 200px;
        height: 20px;
        float: left;
        margin: 5px;
    }
    
    .per_p {
        width: 100px;
    }
</style>