{% extends 'lecture/index.html' %} {% load static %} {% block content %}
<div class="wrapper">
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                </head>

                <body class="hold-transition sidebar-mini">
                    <center>
                        <div class="wrapper" i>
                            <!-- /.card -->

                            <div class="card">
                                <div class="card-header border-transparent">
                                    <h3 class="card-title">courses infomation.</h3>

                                </div>


                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <div>
                                            <div class="card-tools">
                                                <a href="{% url 'addcourse' %}" class="btn btn-flat btn-primary float-left"><span class="fas fa-plus"></span>  Create New Technology</a>
                                            </div>
                                            <thead>

                                                <tr>
                                                    <th>s/n</th>
                                                    <th>Course name</th>
                                                    <th>tecchnology used</th>
                                                    <th>industries usesthat tchnology </th>
                                                    <th>community of peoples </th>
                                                    <th>status</th>
                                                    <th>
                                                        <ABBR></ABBR>Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="sparkbar" data-color="#00c0ef" data-height="20">{{d.tarehe}}</div>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                    <td>
                                                        <button type="button" class="btn btn-flat btn-default btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                               Action
                                             <span class="sr-only">Toggle Dropdown</span>
                                           </button>
                                                        <div class="dropdown-menu" role="menu">
                                                            <a class="dropdown-item" href="><span class=" fa fa-edit text-primary "></span> Edit</a>
                                                                <a class="dropdown-item delete_data " href=" "><span class="fa fa-trash text-danger "></span> Delete</a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                        </table>
                                        </div>
                                        <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->

                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                            </section>
                            <!-- /.content -->
                </div>
            </div>
        </div>
        <style rel="stylesheet ">
            .card-title {
                text-transform: uppercase;
                align-items: center;
                margin: auto;
            }

            .content-wrapper {
                background-color: green;
            }
        </style>
{% endblock %}